{% include 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	{% if app.user %}


		<h2>Nouveau commentaire</h2>

		{{form(form)}}{% endif %}
	{% endblock %}
