$primary: darken(#c9d2df, 20%);

$body-bg : #baa98985;
$link-color: black;

.details-button {
    height: 40px; /* Ajustez la hauteur selon vos préférences */
}




@import "~bootstrap/scss/bootstrap";
