{% include 'base.html.twig' %}


{% block body %}
	<div class="container">
	<h1>Categorie des articles</h1>			
		<div class="row">

			{% for categorie in categories %}
				<div class="col-md-3 mb-4 mt-4">
					<div class="card h-100 d-flex flex-column justify-content-between">
						<div class="card-body">
							<h5 class="card-title">{{ categorie.name }}</h5>
						</div>
						<div class="card-footer">
							<a href="{{ path('app_article_show_by_categorie_id', {slug : categorie.slug}) }}" class="btn btn-primary">Voir les articles</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="text-center  mx-auto"> 
		<a href="{{ path('app_article') }}" class="btn btn-primary">Voir tous les articles</a>
		</div>
	</div>
{% endblock %}


