{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
{% include "/navbar.html.twig" %}<br>
    {% if app.user.id == article.user.id %}

  
    <h2>Nouvel article</h2>

    {{form(form, {'attr': {'class': 'col-lg-8'}})}}


{% endif %}
{% endblock %} 