{% include 'base.html.twig' %}

{% block body %}
	{% if app.user %}

		<div class="container mt-4  ">
			<div class="col-lg-8 col-md-12 left-box text-center  mx-auto">
				<div class="card p-4">
					<div class="header">
						<h2>Nouvel article</h2>
					</div>
					{{form(form)}}

					</div>
				</div>
			</div>

		{% endif %}
			<div class="text-center  mx-auto mt-5">
	<a href="{{ path('app_categorie')}}" class="btn btn-primary">retour</a>
	</div>
	{% endblock %}
